@model IEnumerable<FlightStream.Models.Aircraft>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            TailNumber
        </th>
        <th>
            Airframe
        </th>
        <th>
            EngineCount
        </th>
        <th>
            FuelTankCount
        </th>
        <th>
            SeatCount
        </th>
        <th>
            CargoHoldCount
        </th>
        <th>
            BasicOpWeight
        </th>
        <th>
            MaxOpWeight
        </th>
        <th>
            MaxTakeoffWeight
        </th>
        <th>
            MaxRampWeight
        </th>
        <th>
            MaxZeroFuelWeight
        </th>
        <th>
            MaxFuelCapacity
        </th>
        <th>
            EmptyWeight
        </th>
        <th>
            EmptyWeightCg
        </th>
        <th>
            EmptyWeightMoment
        </th>
        <th>
            MaxLandingWeight
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.TailNumber
        </td>
        <td>
			@item.Airframe
        </td>
        <td>
			@item.EngineCount
        </td>
        <td>
			@item.FuelTankCount
        </td>
        <td>
			@item.SeatCount
        </td>
        <td>
			@item.CargoHoldCount
        </td>
        <td>
			@item.BasicOpWeight
        </td>
        <td>
			@item.MaxOpWeight
        </td>
        <td>
			@item.MaxTakeoffWeight
        </td>
        <td>
			@item.MaxRampWeight
        </td>
        <td>
			@item.MaxZeroFuelWeight
        </td>
        <td>
			@item.MaxFuelCapacity
        </td>
        <td>
			@item.EmptyWeight
        </td>
        <td>
			@item.EmptyWeightCg
        </td>
        <td>
			@item.EmptyWeightMoment
        </td>
        <td>
			@item.MaxLandingWeight
        </td>
    </tr>
}

</table>


